.article {
  position: relative;
  margin-top: 512px;
}

.header {
  font-style: normal;
  margin-bottom: 34px;
  font-weight: 600;
  font-size: 29px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.3);
}

.text {
  position: absolute;
  top: 110px;
  padding-left: 9px;
  padding-right: 9px;
  font-style: normal;
  font-weight: 600;
  font-size: 29px;
  line-height: 100%;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.75px;
  color: #fff;
}

.date {
  position: absolute;
  top: 188px;
  padding-left: 9px;
  padding-right: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #d8d8d8;
}

.btn-viewall {
  background: #576574;
  border: none;
  border-radius: 14px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  padding: 2px 14px;
  line-height: 150%;
  margin-left: 63px;
  text-align: right;
  color: #fff;
}

@media only screen and (max-width: 1440px) {
  .article {
    margin-top: 170px;
  }
}

@media only screen and (max-width: 600px) {
  .article {
    margin-top: 240px;
  }
  .header {
    margin-bottom: 16px;
  }
  .btn-viewall {
    margin-left: 0px;
    margin-bottom: 36px;
  }
  .article-col img {
    margin-bottom: 16px;
    /* width: 396px; */
  }
  .mb-margin {
    margin-top: 244px;
  }
  .text {
    left: 19px;
    right: 29px;
  }
}